#blog1, #blog2, #blog3, #blog4, #blog5 { 
    color: black;
    background-color: Aquamarine;
  
}

#weather {
	float: right;
	color: Navy;
	font-size: 100%;
	width: 10%;
}

h1 {
	left: 0;
	top: 0;
	color:DarkBlue;
}

h2 {
	color:DodgerBlue;
}

h3 {
	color:MediumBlue;
	font-size: 120%;
}

h4 {
	font-size: 120%;
	margin-bottom: 0.5em;
}
.error {
	color:red;
	margin-bottom: 0.5em;
	font-size: 120%;
}
.send {
	color:green;
	margin-bottom: 0.5em;
	font-size: 120%;
}

#blog_comment label {
	color:MediumBlue;
	font-size: 100%;
}

#blog_comment input {
	border: 2px solid green;
	border-radius: 4px;
	margin-bottom: 0.5em;
}
#blog_comment textarea {
	width: 300px;
	height: 150px;
	border: 2px solid green;
	border-radius: 4px;
	margin-bottom: 0.5em;
}
#blog_comment label {
	margin-bottom: 0.5em;
}

footer {
	position: fixed;
    bottom: 0;
    right: 0;
    width: 10%;
    color: orangered;
}