<!DOCTYPE html>
<html>
	<head>
		<title>About Us</title>
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
		<meta name="author" content = "Joon Lee" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		

	</head>
	<body id="page2">

		<h1>About Us</h1>
		<p class="post">Posted by: </p>
		<details class="details">
			<summary class="summary">Joon Seokjoon Lee</summary>
			<p>Joon Seokjoon Lee is a senior at UC Berkeley.
			He is majoring in Applied Mathematics. He likes playing and
			watching soccer. His favorite soccer player is Ji-Sung Park, and favorite soccer team is Real Madrid. Also, he enjoys Starcraft 1, even though it has been launched for twenty years. Above all things, he loves to have a date with her girl friend, Antonia Yang. He was interested in Web Architecture and it led him to take INFO 253 class.</p>
		</details>
		<p>Email: <a href="mailto:someone@example.com">k981011h@berkeley.edu</a>.</p>

		
		<footer>
			<h3>Other Pages</h3>
			<ul>
				<li><a href="index" target="_self">Homepage</a></li>
				<li><a href="about" target="_self">About Us</a></li>
				<li><a href="contact" target="_self">Contact Us</a></li>
			</ul>
		</footer>
		

	</body>
</html>
	
